<a href="https://colab.research.google.com/github/samyumobi/A-Complete-Python-Guide-For-Beginners/blob/master/Variables_%2Cdata_types_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 10
b = 5 
c = "ML"

In [3]:
a, b , c = 5, 10, "ML"

In [4]:
a = b = c = "AI"

In [14]:
#Datatypes
a= 7 
b = 6.5
c = "True"
d = False
e = 1+2j
print(type(d))

<class 'bool'>

In [16]:
#Strings in python
s = "I am an architect"
s[0]
s[8:]

'architect'

In [22]:
## Datatypes
s = [8,9,6.5,"Shakal",True]
print(s)
s[:2]

[8, 9, 6.5, 'Shakal', True]

[8, 9]

In [24]:
s[2] = "Red"
s

[8, 9, 'Red', 'Shakal', True]

## List 
Lists can have different datatypes and are mutable. List can have different operations like append slicing deleting adding inserting etc

In [27]:
r = (2,2,"Shanthi",False)
r[2]
r[3] = True

TypeError: ignored

## Tuple

Tuple can have duplicate elements, ordered elements
Difference between list and tuple is tuple cant be changed. Tuples are immutable

In [33]:
f = {6,7,"Red",True}
f
type(f)
print(list(f))

['Red', True, 6, 7]

## Set
Set has {} is unordered collection of elements .Cant access with [] and and flexible.

In [38]:
e = {'a':1,'b':2,'c':3}
print(e)
type(e)
e.keys()
e.values()

{'a': 1, 'b': 2, 'c': 3}

dict_values([1, 2, 3])

## dictionary
Un ordered pair of dictionary key , value pairs

In [41]:
print(str(3)
,str(3.8)
,int(9.34)
,str(345))

3 3.8 9 345

## Datatype conversion

In [43]:
a = [5,4,3,25,6,222,22,22,2222,356]
print(type(a), set(a))

<class 'list'> {3, 4, 5, 6, 356, 2222, 22, 25, 222}

In [47]:
a = "Alvin"
b = 6
print(a+" passed with",b,"marks")

Alvin passed with 6 marks

In [48]:
list("Janvi")

['J', 'a', 'n', 'v', 'i']

## Print i/p and o/p

In [49]:
print('Sam')

Sam

In [53]:
a = 10
print('Sam won '+str(a))

Sam won 10

##** Printing** in python

In [55]:
a = 10;b = 30; c = True
print("a {} b {} c {}".format(a,b,c))

a 10 b 30 c True

In [57]:
print("a {0} b {1} , a {1} b {0}".format(a,b))

a 10 b 30 , a 30 b 10

In [60]:
print("A is {} B is {}".format("Raj",True))

A is Raj B is True

## Input

In [63]:
print(input())

Raj
Raj